# Assignment no.1

# Practice problem 2.1

In [4]:
x = 1+2+3+4+5
print(x)

15

In [5]:
sara = 23
mark = 19
fatima = 31
avg_age = (sara+mark+fatima)/3
print(avg_age)

24.333333333333332

In [9]:
number = int(403/73)
print ("73 goes " + str(number) + " times in 403")

73 goes 5 times in 403

In [11]:
remainder = 403%73
print(remainder)

38

In [12]:
x = 2**10
print(x)

1024

In [15]:
sara = 54
mark = 57
diff = abs(mark-sara)
print(diff)

3

In [16]:
min_price = min(34.99, 29.95, 31.50)
print(min_price)

29.95

# Practice problem 2.2

In [18]:
2+2 < 4

False

In [21]:
7//3 == 1+1

True

In [23]:
3**2 + 4**2 == 25

True

In [24]:
2 + 4 + 6 > 12

False

In [27]:
1387%19 == 0

True

In [28]:
31%2 == 0

False

In [29]:
min(34.99, 29.95, 31.50) < 30.00

True

# Practice problem 2.3

In [30]:
a = int(3)
print (a)

3

In [31]:
b = (4)
print (b)

4

In [33]:
c = (a*a+b*b)
print (c)

25

# Practice problem 2.4

In [13]:
>>> s1 = 'ant'
>>> s2 = 'bat'
>>> s3 = 'cod'

print (s1 + " "+ s2 + " "+ s3)
print((s1 + " ") * 10)
print(s1 + " " + s2*2 + " " + s3*3)
print((s1+s2 + " ")*7)
print((s2+s2+s3 + " ")*5)

ant bat cod
ant ant ant ant ant ant ant ant ant ant
ant batbat codcodcod
antbat antbat antbat antbat antbat antbat antbat
batbatcod batbatcod batbatcod batbatcod batbatcod

# Practice problem 2.5

In [8]:
s ='0123456789'

s[0]

'0'

In [9]:
s[1]

'1'

In [10]:
s[6]

'6'

In [11]:
s[8]

'8'

In [12]:
s[9]

'9'

# Practice problem 2.6

In [17]:
words = ["bat", 'ball', 'barn', 'basketball', 'badminton'] 
min(words)

'badminton'

In [16]:
max(words)

'bat'

# Practice problem 2.7

In [18]:
>>> grades = [9,7,7,10,3,9,6,6,2]

>>> grades.count(7)

2

In [27]:
>>> grades[8] = 4
>>> grades

[9, 7, 7, 10, 3, 9, 6, 6, 4]

In [28]:
>>> max(grades)

10

In [30]:
>>> grades.sort()
>>> grades

[3, 4, 6, 6, 7, 7, 9, 9, 10]

In [32]:
>>> (sum(grades)/len(grades))

6.777777777777778

# Practice problem 2.8

In [1]:
((2 + 3) == 4) or (a >= 5)
((lst[1]) * (-3) < - 10) == 0

(2) * (3**2)

NameError: name 'a' is not defined